body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  background-color :#EAECEE ;
}
p {
    font-family : "Helvetica Neue 45 Light", "Helvetica Neue", Helvetica, Arial;
}
.header {
  background: black;
  border-radius: 5px;
  height: 100px;
  opacity: 0.8;
  width: 100%;
}

.title {
    color: white;
    opacity:0.6;
  float: left;
  margin: 30px 0px 0px 100px;
}
.banner1 {
    background:#D5DBDB;
  border-radius: 5px;
  display: table-cell;
  height: 90px;
  margin-top: 20px;
  opacity: 0.7;
  width: 50%;
}

text {
  font: 10px sans-serif;
}

.chart{
    position:relative;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
    position:absolute;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}
